{% extends 'voter_analytics/base.html' %}

{% block title %}Voter Detail{% endblock %}

{% block content %}
<h2>{{ voter.first_name }} {{ voter.last_name }}</h2>
<p><strong>Date of Birth:</strong> {{ voter.date_of_birth }}</p>
<p><strong>Registration Date:</strong> {{ voter.date_of_registration }}</p>
<p><strong>Party Affiliation:</strong> {{ voter.party_affiliation }}</p>
<p><strong>Voter Score:</strong> {{ voter.voter_score }}</p>

<h3>Address</h3>
<p>{{ voter.address_street_number }} {{ voter.address_street_name }}, {{ voter.zip_code }}</p>
<a href="https://www.google.com/maps/search/?api=1&query={{ voter.address_street_number }}+{{ voter.address_street_name }}+{{ voter.zip_code }}" target="_blank">
    View on Google Maps
</a>
<br>
<a href="{% url 'voters' %}">Back to Voter List</a>
{% endblock %}
