{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'mini_fb/styles-mini_fb.css' %}">
</head>
<body>
    <header>
        <h1>Mini Facebook</h1>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
                
                {% if user.is_authenticated %}
                    <!-- Welcome and "My Profile" for logged-in users -->
                    <li>Welcome, {{ user.username }}!</li>
                    {% with profile=user.profile_set.first %}
                        {% if profile %}
                            <li><a href="{% url 'show_profile'%}">My Profile</a></li>
                        {% endif %}
                    {% endwith %}
                    <!-- Logout button -->
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <!-- Login link for non-logged-in users -->
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
