{% extends 'quotes/base.html' %}

{% block content %}
    <h2>About</h2>
    <p> This application displays random quotes by <a href = "https://en.wikipedia.org/wiki/Martin_Luther_King_Jr.">Martin Luther King Jr.</a> </p>
    <p>Martin Luther King Jr. was a prominent American civil rights leader, 
        best known for his role in advancing racial equality and justice through nonviolent activism.
        His leadership during the Civil Rights Movement, including his iconic "I Have a Dream" speech, 
        helped challenge segregation and inspire change in the United States.</p>
    
    <p>This application was created by tigerw@bu.edu.</p>
{% endblock %}
